.landing-page {
  background-image: url(../images/unsplash.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.navbar-bg {
  background-color: #095f5f;
}

.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0f8eaa62;
  text-align: center;
  padding: 100px;
  color: white;

}
.hide{
    display: none;

}
#quizForm{
    background-color: rgba(184, 178, 178, 0.945);
    padding: 50px;

}
.card-body{
    border-radius: 6px;
}