.landing-page {
  background: linear-gradient(
      rgba(131, 128, 128, 0.678),
      rgba(131, 128, 128, 0.678)
    ),
    url(../images/unsplash.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.navbar-bg {
  background-color: #095f5f;
}
.hero.text {
  font-family: "recursive";
}
.home-text,.retake{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #05637978;
  text-align: center;
  padding: 100px;
  color: white;
}
.hide {
  display: none;
}
#quizForm {
  background-color: rgba(160, 154, 154, 0.842);
  padding: 50px;
}
.card-body {
  border-radius: 6px;
}
.card-body h3 {
  font-size: 20px;
  font-weight: 600;
}
.questionnaire {
  height: 120vh;
  background-image: url(../images/unsplash.jpg);
}
.btn {
  background: #095f5f;
  color: white;
}
.score {
  background: linear-gradient(180deg, rgba(46, 1, 1, 0.55) 31.77%, rgba(66, 2, 2, 0) 92.71%), url(../images/unsplash.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.retake h4{
    font-size: 40px;
    font-weight: 600;
    padding: 30px;
}
